<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.job.module.order.OrderDao">

    <!-- 根据装货时间以及分配状态查询订单 -->
    <select id="selectByScheduleFlagAndLoadTime"
            resultType="net.lab1024.tms.job.module.order.OrderBO">
        SELECT * FROM t_order where status != #{excludeStatus}
        AND schedule_flag = #{scheduleFlag} AND DATE_FORMAT(load_time, '%Y-%m-%d %H:%i:%S') &lt; #{loadTime}
    </select>

</mapper>