<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.job.module.expiredcertificate.ExpiredCertificateDao">

    <!-- 查询过期状态的证件 -->
    <select id="queryNeedUpdateStatus"
            resultType="net.lab1024.tms.common.module.business.expiredcertificate.domain.ExpiredCertificateEntity">
        SELECT *
        FROM t_expired_certificate
        WHERE
        (
        (DATEDIFF(expired_time,now()) &lt;= 0 AND `status` != #{status0})
        OR (DATEDIFF(expired_time,now()) BETWEEN #{status0}+1 AND #{status3} AND `status` != #{status3})
        OR (DATEDIFF(expired_time,now()) BETWEEN #{status3}+1 AND #{status7} AND `status` != #{status7})
        OR (DATEDIFF(expired_time,now()) BETWEEN #{status7}+1 AND #{status15} AND `status` != #{status15})
        OR (DATEDIFF(expired_time,now()) BETWEEN #{status15}+1 AND #{status30} AND `status` != #{status30})
        )
    </select>

    <select id="selectShipperEmployeeId"
            resultType="net.lab1024.tms.job.module.expiredcertificate.ExpiredCertificationModuleEmployeeBO">
        select manager_id,create_user_id from t_shipper where shipper_id = #{shipperId}
    </select>

    <select id="selectDriverEmployeeId"
            resultType="net.lab1024.tms.job.module.expiredcertificate.ExpiredCertificationModuleEmployeeBO">
        select manager_id,create_user_id from t_driver where driver_id = #{driverId}
    </select>

    <select id="selectVehicleEmployeeId"
            resultType="net.lab1024.tms.job.module.expiredcertificate.ExpiredCertificationModuleEmployeeBO">
        select manager_id,create_user_id from t_vehicle where vehicle_id = #{vehicleId}
    </select>

    <select id="selectBracketEmployeeId"
            resultType="net.lab1024.tms.job.module.expiredcertificate.ExpiredCertificationModuleEmployeeBO">
        select manager_id,create_user_id from t_bracket where bracket_id = #{shipperId}
    </select>

</mapper>