<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.oa.enterprise.dao.EnterpriseBusinessSettingDao">
    <select id="selectByKey"
            resultType="net.lab1024.tms.common.module.business.oa.enterprise.domain.EnterpriseBusinessSettingEntity">
        select * from t_oa_enterprise_business_setting where enterprise_id = #{enterpriseId}
         and setting_key = #{settingKey}
    </select>
</mapper>