<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.fixedasset.module.business.borrowback.dao.BorrowBackItemDao">

    <select id="queryByBorrowBackIdList" resultType="net.lab1024.tms.fixedasset.module.business.borrowback.domain.BorrowBackItemEntity">
        SELECT * FROM t_asset_borrow_back_item
        where borrow_back_id IN
        <foreach collection="borrowBackIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
</mapper>