<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.shipper.dao.ShipperTypeDao">

    <delete id="deleteByShipperId">
        delete from t_shipper_type where shipper_id = #{shipperId}
    </delete>

    <select id="selectByShipperId"
            resultType="net.lab1024.tms.common.module.business.shipper.domain.ShipperTypeEntity">
        select * from t_shipper_type where shipper_id = #{shipperId}
    </select>

    <select id="selectByShipperIdList"
            resultType="net.lab1024.tms.common.module.business.shipper.domain.ShipperTypeEntity">
        select * from t_shipper_type where shipper_id in
        <foreach collection="shipperIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>


</mapper>