<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.common.module.support.file.dao.FileDao">


    <select id="queryListByPage" resultType="net.lab1024.tms.common.module.support.file.domain.vo.FileVO">
        SELECT * FROM t_file
        <where>
            <if test="query.folderType != null">
                AND folder_type = #{query.folderType}
            </if>
            <if test="query.fileName != null and query.fileName != '' ">
                AND INSTR(file_name,#{query.fileName})
            </if>
        </where>
        <if test="query.sortItemList == null or query.sortItemList.size == 0">
            order by create_time desc
        </if>
    </select>

    <select id="getByFileKey" resultType="net.lab1024.tms.common.module.support.file.domain.vo.FileVO">
        SELECT * FROM t_file where file_key = #{fileKey}
    </select>

</mapper>