<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.driver.module.business.carcost.cashInitialend.CarCostCashInitialEndDao">

    <select id="selectByWaybillId"
            resultType="net.lab1024.tms.common.module.business.carcost.domain.entity.CarCostCashInitialEndEntity">
        SELECT *
        FROM t_car_cost_cash_initial_end
        WHERE waybill_id = #{waybillId}
    </select>

</mapper>