<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.system.employee.dao.EmployeeMenuDao">
    <delete id="deleteByEmployeeId">
        delete
        from t_employee_menu
        where employee_id = #{employeeId}
    </delete>

    <select id="queryMenuIdByEmployeeId" resultType="java.lang.Long">
        select menu_id
        from t_employee_menu
        where employee_id = #{employeeId}
    </select>

</mapper>