<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.fixedasset.module.business.transfer.dao.TransferDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.tms.fixedasset.module.business.transfer.domain.TransferEntity">
        SELECT
        *
        FROM t_asset_transfer
        <where>
            <!--创建时间-->
            <if test="queryForm.startTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <!--关键字-->
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND ( INSTR(transfer_no,#{queryForm.keywords})
                OR INSTR(create_user_name,#{queryForm.keywords})
                )
            </if>
            <if test="queryForm.fromLocationId != null">
                AND from_location_id = #{queryForm.fromLocationId}
            </if>
            <if test="queryForm.toLocationId != null">
                AND to_location_id = #{queryForm.toLocationId}
            </if>
            <if test="queryForm.enterpriseId != null">
                AND enterprise_id = #{queryForm.enterpriseId}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>
</mapper>