<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.flow.define.FlowDao">


    <select id="selectByFlowType"
            resultType="net.lab1024.tms.admin.module.business.flow.define.domain.FlowEntity">
        select * from t_flow where flow_type = #{flowType}
    </select>

    <select id="selectList" resultType="net.lab1024.tms.admin.module.business.flow.define.domain.FlowVO">
        SELECT *
        FROM t_flow
    </select>

</mapper>