<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.driver.module.business.bracket.dao.BracketDao">

    <select id="queryByPage" resultType="net.lab1024.tms.common.module.business.bracket.domain.BracketEntity">
        SELECT *
        FROM t_bracket
        WHERE create_user_id = #{queryForm.driverId} AND create_user_type = #{queryForm.userType} AND deleted_flag = #{queryForm.deletedFlag}
        <if test="queryForm.keywords != null and queryForm.keywords != ''">
            AND INSTR(bracket_no, #{queryForm.keywords})
        </if>
    </select>

    <select id="selectByNoExcludeIds"
            resultType="net.lab1024.tms.common.module.business.bracket.domain.BracketEntity">
        SELECT *
        FROM t_bracket
        WHERE bracket_no = #{bracketNo} AND deleted_flag = #{deletedFlag}
        <if test="excludeIds != null and excludeIds.size > 0">
            AND bracket_id NOT IN
            <foreach collection="excludeIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>