<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.fleet.dao.FleetDao">

    <select id="queryByPage" resultType="net.lab1024.tms.admin.module.business.fleet.domain.vo.FleetVO">
        SELECT f.*
        FROM t_fleet f
        WHERE f.deleted_flag = #{queryForm.deletedFlag}
        <if test="queryForm.enterpriseId != null">
            and f.enterprise_id = #{queryForm.enterpriseId}
        </if>
        <if test="queryForm.keyWords != null and queryForm.keyWords != ''">
            AND (INSTR(f.fleet_name,#{queryForm.keyWords})
            or INSTR(f.captain_name,#{queryForm.keyWords})
            or INSTR(f.captain_phone,#{queryForm.keyWords})
            or INSTR(f.create_user_name ,#{queryForm.keyWords})
            )
        </if>
        <if test="queryForm.registerAreaCode != null and queryForm.registerAreaCode != ''">
            AND (INSTR(f.province,#{queryForm.registerAreaCode})
            or INSTR(f.city,#{queryForm.registerAreaCode})
            or INSTR(f.district ,#{queryForm.registerAreaCode})
            )
        </if>
        <if test="queryForm.auditStatus != null">
            AND f.audit_status = #{queryForm.auditStatus}
        </if>
        <if test="queryForm.createStartTime != null">
            and DATE_FORMAT(f.create_time, '%Y-%m-%d') &gt;= #{queryForm.createStartTime}
        </if>
        <if test="queryForm.createEndTime != null">
            and DATE_FORMAT(f.create_time, '%Y-%m-%d') &lt;= #{queryForm.createEndTime}
        </if>

        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY f.create_time DESC
        </if>
    </select>

    <update id="updateDeletedFlagByFleetId">
        update t_fleet
        set deleted_flag   = #{deletedFlag},
            update_user_id = #{updateUserId}
        where fleet_id in
        <foreach collection="fleetIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="selectList" resultType="net.lab1024.tms.common.module.business.fleet.domain.FleetEntity">
        SELECT * FROM t_fleet
        WHERE fleet_id IN
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        <if test="auditStatus != null">
            AND audit_status = #{auditStatus}
        </if>
    </select>
    <select id="getDetail" resultType="net.lab1024.tms.admin.module.business.fleet.domain.vo.FleetDetailVO">
        SELECT f.*
        FROM t_fleet f
        WHERE f.fleet_id = #{fleetId}
          AND f.deleted_flag = #{deletedFlag}
    </select>

    <update id="batchUpdateAuditStatus">
        UPDATE t_fleet SET audit_status = #{auditStatus},audit_remark = #{auditRemark}
        WHERE fleet_id IN
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <select id="selectByNameExcludeIds"
            resultType="net.lab1024.tms.common.module.business.fleet.domain.FleetEntity">
        select * from t_fleet where enterprise_id = #{enterpriseId} and fleet_name = #{fleetName} and deleted_flag = #{deletedFlag}
        <if test="excludeIds != null and excludeIds.size > 0">
            and fleet_id not in
            <foreach collection="excludeIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>