<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.driver.module.business.driver.dao.DriverTaxRegisterDao">

    <select id="selectByDriverId"
            resultType="net.lab1024.tms.common.module.business.driver.domain.DriverTaxRegisterEntity">
        SELECT *
        FROM t_driver_tax_register
        WHERE driver_id = #{driverId}
    </select>

    <delete id="deleteByDriverId">
        DELETE FROM t_driver_tax_register
        WHERE driver_id = #{driverId}
    </delete>

</mapper>