<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.common.module.business.oa.enterprise.dao.EnterpriseESignConfigDao">


    <select id="getByEnterpriseId"
            resultType="net.lab1024.tms.common.module.business.oa.enterprise.domain.EnterpriseESignConfigEntity">
        SELECT * FROM t_oa_enterprise_esign_config WHERE enterprise_id = #{enterpriseId}
    </select>
</mapper>