<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.fixedasset.module.business.asset.dao.AssetDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.tms.fixedasset.module.business.asset.domain.entity.AssetEntity">
        SELECT
        *
        FROM t_asset
        where
        deleted_flag = #{queryForm.deletedFlag}
        <!--状态-->
        <if test="queryForm.status != null">
            AND status = #{queryForm.status}
        </if>
        <!--状态-->
        <if test="queryForm.statusList != null and queryForm.statusList.size > 0">
            AND status in
            <foreach collection="queryForm.statusList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        <!--创建时间-->
        <if test="queryForm.startTime != null">
            and DATE_FORMAT(create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
        </if>
        <if test="queryForm.endTime != null">
            and DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
        </if>
        <!--关键字-->
        <if test="queryForm.keywords != null and queryForm.keywords != ''">
            AND ( INSTR(asset_name,#{queryForm.keywords})
            OR INSTR(asset_no,#{queryForm.keywords})
            )
        </if>
        <if test="queryForm.categoryId != null">
            AND category_id = #{queryForm.categoryId}
        </if>
        <if test="queryForm.locationId != null">
            AND location_id = #{queryForm.locationId}
        </if>
        <if test="queryForm.departmentId != null">
            AND department_id = #{queryForm.departmentId}
        </if>
        <if test="queryForm.enterpriseId != null">
            AND enterprise_id = #{queryForm.enterpriseId}
        </if>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>


    <update id="batchUpdateDeleted">
        update t_asset set deleted_flag = #{deletedFlag}
        where asset_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_asset set deleted_flag = #{deletedFlag}
        where asset_id = #{assetId}
    </update>

    <select id="selectByIdList" resultType="net.lab1024.tms.fixedasset.module.business.asset.domain.entity.AssetEntity">
        select * from t_asset where deleted_flag = #{deletedFlag} and asset_id in
        <foreach collection="assetIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByEnterpriseLocationId"
            resultType="net.lab1024.tms.fixedasset.module.business.asset.domain.entity.AssetEntity">
        select * from t_asset where deleted_flag = #{deletedFlag}
        and location_id = #{locationId} and enterprise_id = #{enterpriseId}
    </select>

    <select id="selectByEnterpriseId"
            resultType="net.lab1024.tms.fixedasset.module.business.asset.domain.entity.AssetEntity">
        select * from t_asset where deleted_flag = #{deletedFlag}
        and enterprise_id = #{enterpriseId}
    </select>
</mapper>