<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.carcost.cashInitialend.CarCostCashInitialEndDao">

    <select id="selectByWaybillId"
            resultType="net.lab1024.tms.common.module.business.carcost.domain.entity.CarCostCashInitialEndEntity">
        SELECT *
        FROM t_car_cost_cash_initial_end
        WHERE waybill_id = #{waybillId}
    </select>

    <select id="selectByIdAfter"
            resultType="net.lab1024.tms.common.module.business.carcost.domain.entity.CarCostCashInitialEndEntity">
        SELECT *
        FROM t_car_cost_cash_initial_end
        WHERE cash_initial_end_id > #{cashInitialEndId} AND driver_id = #{driverId}
    </select>

    <select id="selectByWaybillIdList"
            resultType="net.lab1024.tms.common.module.business.carcost.domain.entity.CarCostCashInitialEndEntity">
        SELECT *
        FROM t_car_cost_cash_initial_end
        WHERE waybill_id in
        <foreach collection="waybillIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>


</mapper>