<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.admin.module.business.driver.dao.DriverTaxRegisterDao">

    <delete id="deleteByDriverId">
        delete from t_driver_tax_register where driver_id = #{driverId}
    </delete>

    <select id="selectByDriverId"
            resultType="net.lab1024.tms.common.module.business.driver.domain.DriverTaxRegisterEntity">
        select * from t_driver_tax_register where driver_id = #{driverId}
    </select>
</mapper>