<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.fixedasset.module.business.depreciation.dao.DepreciationItemDao">
    <select id="selectByDepreciationIdList"
            resultType="net.lab1024.tms.fixedasset.module.business.depreciation.domain.entity.DepreciationItemEntity">
        SELECT  * from t_asset_depreciation_item
        where depreciation_id in
        <foreach collection="depreciationIdList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
</mapper>