<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.tms.fixedasset.module.business.requisitionrevert.dao.RequisitionRevertDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.tms.fixedasset.module.business.requisitionrevert.domain.RequisitionRevertEntity">
        SELECT
        *
        FROM t_asset_requisition_revert
        <where>
            type = #{queryForm.type}
            <!--创建时间-->
            <if test="queryForm.startTime != null">
                and DATE_FORMAT(use_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                and DATE_FORMAT(use_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <!--关键字-->
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND ( INSTR(requisition_revert_no,#{queryForm.keywords})
                OR INSTR(create_user_name,#{queryForm.keywords})
                )
            </if>
            <if test="queryForm.enterpriseId != null">
                AND enterprise_id = #{queryForm.enterpriseId}
            </if>
            <if test="queryForm.departmentId != null">
                AND department_id = #{queryForm.departmentId}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>
</mapper>